body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
}
.navbar-light .navbar-nav .nav-link {
  color: white;
}

main {
  padding: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th,
td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #333;
  color: #fff;
}

tr:nth-child(even) {
  background-color: #f9f9f9;
}

.btn {
  padding: 6px 12px;
  font-size: 14px;
}

.btn-success {
  background-color: #28a745;
  border-color: #28a745;
}

.btn-success:hover {
  background-color: #218838;
  border-color: #1e7e34;
}

.btn-danger {
  background-color: #dc3545;
  border-color: #dc3545;
}

.btn-danger:hover {
  background-color: #c82333;
  border-color: #bd2130;
}
td img {
  max-width: 40px;
  height: auto;
  display: block;
  margin: 0 auto;
}

.map-link {
  color: #333;
  text-decoration: none;
  font-weight: bold;
}

.map-link:hover {
  text-decoration: underline;
}
